div{
	width:1225px;
	height:600px;
	border: 10px inset #000000;
	padding: 10px;
	display:flex;
	justify-content: center;
    align-items: center;
}
input{
	border: 10px inset #aa00aa;
	padding: 10px;
	width: 250px;
	font-size: 30px;
	background-color:#ff9900;
	color: #aa00aa;
}
h3{
	font-size: 60px;
	color: #fa0b0c;
}